body {
    background-color: #0b383c;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    width: 50px;
    height: 30px;
    color: #093A3E;
}

#solve_btn {
    width: 150px;
    height: 35px;
    margin-bottom: 0.67em;
    color: #F0F4EF;
    font-size: 18px;
}

#k_selector { 
    border-radius: 10px;
    font-size: medium;
    padding: 1px 5px 1px 10px;
    margin: 8px 0; 
    border: 0px;
    outline: none;
}

#canvas_wrapper {
    background-color: #F0F4EF;
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #F0F4EF; 
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

button {
    background-image: linear-gradient(135deg, #1bc54b 40%, #159430);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #F0F4EF;
    cursor: pointer;
    height: 35px;
    width: 160px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:active {
    outline: 0;
}

button:hover {
    outline: 0;
    background-image: linear-gradient(135deg, #23d956 40%, #32a64b);  
}

button:disabled {
    font-weight: 800;
    cursor: auto;
    background-image: linear-gradient(135deg, #2c91e9 40%, #1a89bc);
}

#results::before {
    content: attr(data-sat);
}

#results[data-sat] {
    min-width: 55px;
    width: fit-content;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F0F4EF;
    background-color: gray;
}

#results[data-sat="SAT"] {
    background-color: #1bc54b;
}

#results[data-sat="UNSAT"] {
    background-color: #e22a2a;
}

#canvas_controls button {
    margin-top: 5px;
    padding: 5px;
    height: fit-content;
    width: 140px;
    font-size: smaller;
    background-color: gray;
    background-image: none;
}
#canvas_controls button:hover {
    background-color: rgb(151, 151, 151);
}