#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    width: 100px;
    height: 30px;
    font-size: large;
}

#canvas_wrapper {
    width: 80%;
    height: 600px;
    border: 1pt solid black;
}